html, body {
    height: 100%;
    width: 100%;

    min-height: 400px;
}

/* 响应式背景图片 */
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

button, a, li {
    outline: none !important;
}

.main-wrapper {
    height: 100%;
    padding-top: 80px;
    min-width: 1200px;
}

.catergory-wrapper {
    height: 100%;
    float: left;
    width: 300px;
}

.task-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 310px;
    padding-right: 10px;
}

.list-group-item.bg-primary {
    color: #fff;
    background-color: #337ab7;
}

.horizontal-padding-left {
    padding-left: 30px;
}

.remove-top-radius .list-group .list-group-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


